{% extends 'base.html.twig' %}

{% block body %}
    <h1>Offices list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Plceid</th>
                <th>Offischedule</th>
                <th>Offiname</th>
                <th>Offiphone</th>
                <th>Offiaddress</th>
                <th>Offiltln</th>
                <th>Offitypepayaccepted</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for office in offices %}
            <tr>
                <td><a href="{{ path('office_show', { 'id': office.id }) }}">{{ office.id }}</a></td>
                <td>{{ office.description }}</td>
                <td>{{ office.plceId }}</td>
                <td>{{ office.offiSchedule }}</td>
                <td>{{ office.offiName }}</td>
                <td>{{ office.offiPhone }}</td>
                <td>{{ office.offiAddress }}</td>
                <td>{{ office.offiLtLn }}</td>
                <td>{{ office.offiTypePayAccepted }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('office_show', { 'id': office.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('office_edit', { 'id': office.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('office_new') }}">Create a new office</a>
        </li>
    </ul>
{% endblock %}
