<div class="page-sidebar" id="sidebar">
    <!-- Sidebar Menu -->
    <ul class="nav sidebar-menu">
        <!--Dashboard-->
        <li class="active">
            <a href="{{ path('home') }}">
                <i class="menu-icon fa fa-home"></i>
                <span class="menu-text"> PaOnde </span>
            </a>
        </li>
        <!--Databoxes-->
        <!--Lugares-->
        <li {% if menuPlace is defined%}class="active open"{% endif %}>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-building"></i>
                <span class="menu-text"> Lugares </span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li {% if placeList is defined %}class="active"{% endif %}>
                    <a href="{{ path('place_index') }}">
                        <span class="menu-text"> Lista de Lugares </span>
                    </a>
                </li>
                <li {% if placeNew is defined %}class="active"{% endif %}>
                    <a href="{{ path('place_new') }}">
                        <span class="menu-text"> Crear Lugar</span>
                    </a>
                </li>
            </ul>
        </li>
        <!--sucursales-->
        <li {% if menuBranchOffice is defined%}class="active open"{% endif %}>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-map-marker"></i>
                <span class="menu-text"> Sucursales </span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li {% if branchOfficeList is defined %}class="active"{% endif %}>
                    <a href="{{ path('office_index') }}">
                        <span class="menu-text"> Lista de Sucursales </span>
                    </a>
                </li>
                <li {% if branchOfficeNew is defined %}class="active"{% endif %}>
                    <a href="{{ path('office_new') }}">
                        <span class="menu-text"> Crear Sucursal</span>
                    </a>
                </li>
            </ul>
        </li>
        <!--categorias-->
        <li {% if menuCategories is defined%}class="active open"{% endif %}>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> Categorías </span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li {% if categoryList is defined %}class="active"{% endif %}>
                    <a href="{{ path('place_type_index') }}">
                        <span class="menu-text"> Lista de Categorías </span>
                    </a>
                </li>
                <li {% if categoryNew is defined %}class="active"{% endif %}>
                    <a href="{{ path('place_type_new') }}">
                        <span class="menu-text"> Crear Categoría</span>
                    </a>
                </li>
            </ul>
        </li>
        <!--características-->
        <li {% if menuTags is defined%}class="active open"{% endif %}>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-tags"></i>
                <span class="menu-text"> Características </span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li {% if tagsList is defined %}class="active"{% endif %}>
                    <a href="{{ path('tags_cloud_index') }}">
                        <span class="menu-text"> Lista de Características </span>
                    </a>
                </li>
                <li {% if tagsNew is defined %}class="active"{% endif %}>
                    <a href="{{ path('tags_cloud_new') }}">
                        <span class="menu-text"> Crear Características</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- /Sidebar Menu -->
</div>