{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="javascript:void(0)">{{ nameItem }}</a>
            </li>
            <li><a href="{{ path('place_index') }}">{{ listItem }}</a></li>
            <li class="active">{{ newItem }}</li>
        </ul>
    </div>
    {% include 'Default/createForm.html.twig' %}
        {{ form_start(form) }}
        <div class="form-group col-xs-12 col-sm-6">
            {{ form_row(form.plceName) }}
        </div>
        <hr class="wide">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-success">Crear</button>
            <a href="{{ path('place_index') }}" class="btn btn-blue">Cancelar</a>
        </div>
        {{ form_end(form) }}
    {% include 'Default/createForm-end.html.twig' %}

{% endblock %}